body {
    background-color: lightcyan;
}

.jumbotron {
    background-color: lightsteelblue;
    text-align: center;
}

    .jumbotron h1 {
        font-family: Haettenschweiler;
    }

    .jumbotron p {
        font-family: Impact;
        font-size: 2em;
    }

.sortable {
    margin-top: 10px;
}

    .sortable tbody tr:hover {
        background-color: lightsteelblue;
    }

    .sortable th:hover {
        cursor: pointer;
        background-color: lightsteelblue;
    }

table, thead, tbody, th, tr, td {
    border: solid thin black;
}
