@{
    ViewBag.Title = "Home Page";
}

<style>
    p {
        text-align: center;
    }
</style>

<div class="jumbotron">
    <h1>Tech Support Project - Final Project</h1>
    <p>&clubs;</p>
    <p>By: Tanner Gamblin</p>
</div>

<div class="row">

</div>